body {
    background: grey;
}
.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.block {
    background: plum;
    width: 200px;
    height: 200px;
    margin: 0 20px 20px;
    align-content: center;
    text-align: center;
}
.rubik-pixels {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 500;
    font-style: normal;
}
.sedgwick {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}
.dancing-script {
    font-optical-sizing: auto;
    font-family: "Dancing Script", cursive;
    font-weight: 600;
    font-style: normal;
}
.fjalla-one {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.indie-flower {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

/*task2*/
.container-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: wheat;
    height: 300px;
}
.square {
    width: 100px;
    height: 100px;
    background: linear-gradient(360deg, yellowgreen, darkred);
    transition: 2s;
}
.square:hover {
    border-radius: 50%;
    background: linear-gradient(180deg, antiquewhite, darkgray);
    transition: 1s;
}
.square:active {
    animation: ball 2s linear;
}
@keyframes  ball {
    from {top: 50%}
    to {bottom: 50%;}
}