/*Task 1*/
body {
    background: grey;
}
.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.block {
    background: plum;
    width: 200px;
    height: 200px;
    margin: 0 20px 20px;
    align-content: center;
    text-align: center;
}
.rubik-pixels {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 500;
    font-style: normal;
}
.sedgwick {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}
.dancing-script {
    font-optical-sizing: auto;
    font-family: "Dancing Script", cursive;
    font-weight: 600;
    font-style: normal;
}
.fjalla-one {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.indie-flower {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

/*Task 2*/
.container-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: wheat;
    height: 300px;
}
.square {
    width: 100px;
    height: 100px;
    background: linear-gradient(360deg, yellowgreen, darkred);
    transition: 2s;
}
.square:hover {
    border-radius: 50%;
    background: linear-gradient(180deg, antiquewhite, darkgray);
    transition: 1s;
}

/*Task 3*/
header, main, footer,.wrapper {
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
header, footer, .wrapper {
    background: #216ABB;
}
header {
    height: 500px;
    margin: 40px 50px;
}
main {
    margin: 20px 50px;
    justify-content: space-around;
}
footer {
    height: 1000px;
    margin: 40px 50px 50px;
}
.wrapper {
    margin: 0 ;
    width: 33.3%;
    height: 500px;
    text-align: center;
}
h1 , h3 {
    font-family: sans-serif;
    font-weight: 200;
    color: darkgrey;
}
h1 {
    font-size: 5em;
}
h3{
    font-size: 3em;
}
.medium {
    margin: 0 40px;
}