* {
    margin: 0;
}
body {
    width: 98vw;
    height: 97vh;
    margin: 8px auto;
}
header, footer, .block-head_B, .block-C, .block-D, .block-E{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
header {
    background-color: #3288f8;
    grid-area: A;
}
section {
    grid-area: B;
}
footer {
    background-color: #6969f1;
    grid-area: F;
}
.block-head_B {
    background-color: #6adc86;
    grid-area: B;
}
.block-C{
    background-color: #6cdec7;
    grid-area: C;
}
.block-D {
    background-color: #c0f33e;
    grid-area: D;
}
.block-E{
    background-color: #25ef57;
    grid-area: E;
}
.grid-container {
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-areas:
    "A A A A"
    "B B B F"
    "B B B F";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr ;
    grid-gap: 10px;
}
section {
    display: grid;
    grid-template-areas:
    "B B B"
    "C D E";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr;
    grid-gap: 10px;
}
@media screen and (max-width: 800px){
    body {
        width: 94vw;
        height: 98vh;
    }
    .grid-container {
        grid-template-areas:
    "A A A A"
    "B B B B"
    "F F F F";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows:  1fr 1fr 1fr ;
        grid-gap: 40px;
    }
    section {
        grid-gap: 40px;
    }
}