* {
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

div{
    display: flex;
    flex-direction: column;
}
.block-1 {
    background: #FFC1CB;
    color: black;
}
.block-2{
    background: #272727;
    color: white;
}
.block-1, .block-2 {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    width: 90vw;
    margin-top: 40px;
    text-align: center;
}